<!--<mat-spinner style="margin:0 auto;" *ngIf="!isPromiseDone"></mat-spinner>-->
<div style="overflow-y: auto">
    <div>
        <mat-card style="margin: auto; width: 60%; text-align: center; float:none" class="loginFormMobile">
            <h1 style="text-align:center">
                <h2 i18n="header | header for where the user will enter their login credentials @@LoginFormHeader">Change Password</h2>
            </h1>

            <mat-card-content>
                <div style="max-height: 100vh; overflow-y: auto" class="centeredList" *ngIf="employee">

                    <form  class="example-form">
                        <!--<mat-form-field class="example-full-width">
                            <input required matInput placeholder="Email Address" [formControl]="usernameFormControl" [(ngModel)]="employeePasswordDetails.EmailAddress" name=employeeEmailAddress
                                   i18n-placeholder="@@EmployeeEmailField" />
                            <mat-error *ngIf="usernameFormControl.hasError('required')" i18n="message | letting the user know that they need to enter their username@@UsernameRequiredMessage">
                                Email address is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="usernameFormControl.hasError('email')" i18n="message | letting the user know that they need to enter their username@@UsernameRequiredMessage">
                                Email is <strong>not valid</strong>
                            </mat-error>
                        </mat-form-field>-->
                            <mat-form-field class="example-full-width">
                                <input type="password" required matInput placeholder="Password" [formControl]="passwordFormControl" [(ngModel)]="employeePasswordDetails.PasswordHash" name=employeePasswordHash
                                       i18n-placeholder="@@EmployeePasswordHashField" />
                                <mat-error *ngIf="passwordFormControl.hasError('required')" i18n="message | letting the user know that they need to enter their password@@PasswordRequiredMessage">
                                    Password is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <input type="password" required matInput [formControl]="passwordVerifyFormControl" pattern="{{employeePasswordDetails.PasswordHash}}" placeholder="Verify Password" name=employeeVerifyPasswordHash
                                       i18n-placeholder="@@EmployeeVerifypasswordHashField" />
                                <mat-error *ngIf="passwordVerifyFormControl.hasError('required')" i18n="message | letting the user know that they need to enter their password@@PasswordRequiredMessage">
                                    Verify Password is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="passwordVerifyFormControl.hasError('pattern')" i18n="message | letting the user know that they need to enter matching password@@PasswordMatchingRequiredMessage">
                                    Verify Passwords <strong>match!</strong> 
                                </mat-error>
                        </mat-form-field>
                    </form>
                  </div> 
            </mat-card-content>
            <button mat-raised-button color="primary" style="width:40%" (click)=reroute() i18n="action | user will click this to login to thet website@@LoginButtonAction"> Update </button>
        </mat-card>
    </div>
</div>