<div style="overflow: hidden !important; height: 100%;">
<div>
  <h2 class="centerText" i18n="message | a message to let the user know the login failed">
    Términos y Condiciones
  </h2>
</div>
<div style="height: 81% !important; overflow-y: auto;">
  <div style="" class="text-justify">
    Los presentes Términos y Condiciones de uso del Sitio (TÉRMINOS Y CONDICIONES) regulan el uso que usted haga, como
    persona física o moral, desde cualquier país del mundo, del sitio web accesible en la URL http://www.nomisign.com
    (SITIO) puesto a disposición por DOCUMENT IMAGING MÉXICO, S.A. DE C.V. (“EL PROVEEDOR”), una sociedad mercantil
    constituida de conformidad con las leyes mexicanas.
    <br>
    <br>
    <p class="centerText">LEA DETENIDAMENTE ANTES DE ACCEDER O USAR LOS SERVICIOS:</p>
    <hr/>
    1. USO Y DERECHOS DE ACCESO: Bajo protesta de decir verdad, usted declara que es mayor de edad, con plena capacidad
    legal para actuar por su propio derecho o en nombre de la persona física o moral a la que representa, en su caso,
    sin que dicha autorización le haya sido revocada o limitada en forma alguna a la fecha en que accede a EL SITIO.
    <br><br>
    2. OBJETO: Estos TÉRMINOS Y CONDICIONES regulan el acceso y uso del SITIO efectuado por cualquier persona, física o
    moral, desde cualquier parte del mundo.
    <br><br>
    3. CONSENTIMIENTO: Mediante el acceso y uso del SITIO, usted manifiesta su consentimiento con la totalidad de los
    TÉRMINOS Y CONDICIONES aquí descritos, incluyendo lo dispuesto en el Aviso de Privacidad. Estos TÉRMINOS Y
    CONDICIONES sustituyen expresamente todos los acuerdos o compromisos previos con usted respecto al uso del SITIO. En
    caso de que usted no acepte la totalidad de estos TÉRMINOS Y CONDICIONES, deberá abstenerse de utilizar y/o acceder
    a EL SITIO.
    <br><br>
    4. DATOS PERSONALES: Los datos personales son tratados de conformidad con lo establecido en el Aviso de Privacidad
    disponible en el SITIO y en su caso, lo estipulado en el instrumento jurídico mediante el cual ha contratado el
    servicio. EL PROVEEDOR únicamente es responsable en términos de la legislación vigente en México, respecto de los
    datos personales recabados directamente a través del SITIO.
    <br><br>
    5. COMUNICACIONES: Usted acepta recibir todas las comunicaciones, acuerdos y avisos relacionados con estos TÉRMINOS
    Y CONDICIONES, en forma electrónica, por medio de mensajes de correo electrónico a la dirección que usted nos
    proporcione y a través del SITIO. Usted acepta que todas las comunicaciones que le proporcionemos electrónicamente
    satisfacen cualquier requisito legal de una comunicación por escrito y para tal efecto acepta mantener actualizada
    su información de contacto en el sistema, en su caso.
    <br><br>
    6. PROPIEDAD INTELECTUAL: EL SITIO contiene materiales que están protegidos por marcas registradas, patentes,
    derechos de autor y secretos industriales. Queda estrictamente prohibido el uso o reproducción de dichos materiales
    sin autorización expresa de sus titulares. NOMISIGN es una marca usada bajo licencia de REQUORDIT MEXICO, S.A. DE
    C.V. Todo uso no autorizado de la propiedad intelectual será perseguido y castigado con todo el rigor de la ley.
    <br><br>
    7. RESTRICCIONES DE USO: Al acceder y usar EL SITIO, usted acepta no participar en ninguna actividad ni transmitir
    ninguna información que, a criterio de EL PROVEEDOR:(a) Sea ilegal o viole cualquier ley o regulación federal,
    estatal o local; (b) Viole cualquier derecho de terceros, incluidos, entre otros, derechos relacionados con datos
    personales, secreto bancario, obligaciones del orden familiar, derechos humanos, derechos de la propiedad
    intelectual y derechos relacionados con la privacidad de las personas; (c) Sea dañino, amenazante, abusivo,
    acosador, tortuoso, indecente, difamatorio, sexualmente explícito o pornográfico, discriminatorio, vulgar, profano,
    obsceno, calumnioso, incite al odio, sea violento, incite a la violencia o sea de cualquier otra manera objetable o
    contrario a los buenos usos y costumbres; (d) interfiera con el uso y disfrute de los servicios por parte de otros
    usuarios; (e)Intente suplantar a otra persona física o moral; (f) Sea distinto a lo establecido en este contrato y
    relacionado con la firma electrónica de nóminas o que de una manera que infrinja estos términos, incluyendo, entre
    otras prácticas no autorizadas, el uso directo o indirecto del SITIO o sus bases de datos para spam, encuestas,
    concursos, esquemas piramidales u otros materiales publicitarios; (h) Declare falsamente, tergiverse u oculte su
    afiliación con otra persona física, moral o entidad gubernamental; (i) Acceda o use la cuenta de otro usuario sin
    permiso; (j) Distribuya virus informáticos u otros códigos, archivos o programas que interrumpan, destruyan o
    limiten la funcionalidad de cualquier software, hardware o equipo de comunicaciones electrónicas; (k) Interfiera,
    interrumpa, deshabilite, sobrecargue o destruya la funcionalidad o el uso de cualquier característica de EÑ SITIO o
    de los servidores o redes conectadas a EL SITIO, (l) Acceda de forma no autorizada a registros privados o
    confidenciales de EL PROVEEDOR, los de otro usuario o los de cualquier otra persona física o moral, o que pretenda
    usar el SITIO o servidores de EL PROVEEDOR con ese propósito; (m) Solicite indebidamente información personal o
    confidencial de otros usuarios, incluyendo, entre otros, la dirección, información de la tarjeta de crédito,
    contraseñas o cualquier otro dato fiscal, laboral, de contacto o financiero; (n) Aplique técnicas de ingeniería
    inversa, el uso de decompiladores o cualquier otro método con la intención de obtener el código fuente del SITIO en
    todo o en parte; (p) Deshabilite, elimine, eluda, dañe, interfiera o de cualquier otro modo afecte las
    características relacionadas con la seguridad del SITIO, incluyendo las características que limitan el acceso de los
    usuarios y de terceros al SITIO, así como las funciones a las que cada usuario tiene acceso según su tipo de cuenta
    y el plan contratado; (q) Utilice medios automáticos o manuales para violar las restricciones de seguridad del
    SITIO, incluyendo aquellas técnicas orientadas a obtener listas de usuarios, capturas de pantalla con información
    reservada o confidencial y cualquier conducta tendiente a vulnerar la seguridad y privacidad del sistema; (r)
    Modifique, copie, rastree, muestre, distribuya, publique, licencie, venda, alquile, arriende, preste, transfiera o
    comercialice de otro modo cualquier material o contenido del SITIO y de sus bases de datos; (s) Descargue,
    distribuya, publique, transmita, interpreta, reproduzca, difunda, duplique, cargue, sublicencie, cree obras
    intelectuales derivadas u ofrezca a la venta cualquier contenido u otra información contenida u obtenida a través
    del SITIO, por cualquier medio; (t) Intente hacer cualquiera de los anteriores.
    <br><br>
    8. FALLAS EN EL SISTEMA: EL PROVEEDOR no se responsabiliza por cualquier daño, perjuicio o pérdida causados a usted
    o a terceros por fallas en el sistema, en los servidores o en Internet. EL PROVEEDOR tampoco será responsable por
    cualquier virus o malware que pudiera infectar cualquier equipo como consecuencia del acceso o uso a EL SITIO. Usted
    no podrá imputarle responsabilidad alguna ni exigir pago alguno a EL PROVEEDOR, en virtud de perjuicios resultantes
    de dificultades técnicas o fallas en los sistemas o en Internet. EL PROVEEDOR no garantiza el acceso y uso
    continuado o ininterrumpido a EL SITIO. El SITIO puede eventualmente no estar disponible debido a dificultades
    técnicas o fallas en el Internet, por desastres naturales, desordenes sociales, causas de fuerza mayor o por
    cualquier otra circunstancia ajena a EL PROVEEDOR; en tales casos se procurará restablecerlo con la mayor celeridad
    posible sin que por ello pueda imputársele algún tipo de responsabilidad. EL PROVEEDOR no será responsable por
    ningún error u omisión contenidos en su SITIO web.
    <br><br>
    9. REQUERIMIENTOS TÉCNICOS: Es responsabilidad de usted contar con una conexión a Internet estable y con un equipo
    que cumpla los requerimientos mínimos para navegar EL SITIO. EL PROVEEDOR no se responsabiliza por fallas en el
    equipo o conexión a Internet de EL USUARIO que impidan la prestación de los servicios y/o el acceso a EL SITIO.
    <br><br>
    10. INEXISTENCIA DE RELACIÓN LABORAL: Usted acepta y reconoce, por el simple hecho de hacer uso de NOMISIGN, que no
    existe ningún tipo de relación laboral entre usted y EL PROVEEDOR. Entendiéndose que EL PROVEEDOR únicamente
    proporciona mediante NOMISIGN, una herramienta tecnológica para facilitar la firma electrónica de los recibos de
    nómina en la nube.
    <br><br>
    11. INDEMNIDAD: Usted mantendrá indemne a EL PROVEEDOR, así como a sus filiales, empresas controladas y/o
    controlantes, funcionarios, directivos, sucesores, administradores, representantes y/o empleados, por cualquier
    reclamo iniciado por otros usuarios, terceros o por cualquier organismo público o privado, nacional o internacional,
    relacionado con sus actividades en NOMISIGN, el cumplimiento y/o el incumplimiento de los TÉRMINOS Y CONDICIONES,
    así como con cualquier violación a las leyes, reglamentos, tratados internacionales o derechos de terceros.
    <br><br>
    12. ACTUALIZACIONES: EL PROVEEDOR podrá modificar estos TÉRMINOS Y CONDICIONES, en todo o en parte, en cualquier
    momento y por cualquier motivo. Las modificaciones serán efectivas después de su publicación en el SITIO web
    https://www.nomisign.com. Si usted usa NOMISIGN con posterioridad a dicha publicación, usted manifiesta su
    consentimiento con la nueva versión de los TERMINOS Y CONDICIONES.
    <br><br>
    13. DOMICILIO: Se determina como domicilio de EL PROVEEDOR para todos los efectos legales a que haya lugar, el
    ubicado en la calle Holbein 174, colonia Ciudad de los Deportes, Ciudad de México, México. C.P. 03710.
    <br><br>
    14. JURISDICCIÓN Y LEY APLICABLE: Estos TÉRMINOS Y CONDICIONES están regidos en su totalidad por las leyes vigentes
    en los Estados Unidos Mexicanos, en particular lo relacionado con mensajes de datos, contratación electrónica, firma
    electrónica y comercio electrónico, se regirán por lo dispuesto en la legislación federal respectiva. Cualquier
    controversia derivada del presente acuerdo, su existencia, validez, interpretación, alcance o cumplimiento, será
    sometida a las leyes aplicables y a los tribunales federales competentes. Para la interpretación, cumplimiento y
    ejecución del presente contrato, usted expresamente se somete a la jurisdicción de los tribunales competentes de la
    Ciudad de México, renunciando expresamente a cualquier fuero que en razón de su domicilio presente o futuro pudiera
    corresponderle.
    <br>
    <br>
  </div>
</div>
<div>
  <button mat-raised-button color="primary" (click)="onNoClick()">Rechazar</button>
  <button mat-raised-button color="primary" style="float: right" (click)="accepted()">Aceptar</button>
</div>
</div>
