<div class="container centerText">
  <br>
  <h1 style="text-align:center">
    <h2 i18n="header | header for where the user will enter their login credentials @@LoginFormHeader">Preguntas de
      seguridad</h2>
  </h1>
  <div style="" class="centeredList">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input required matInput placeholder="Pregunta de seguridad 1" [formControl]="question1FormControl"
               value="{{securityQuestions.Q1}}" [(ngModel)]="securityQuestions.Q1"
               name=securityQuestion1 readonly
               i18n-placeholder="form | field displaying the company user's securityQuestion@@CompanyUserEmail">
        <mat-error *ngIf="question1FormControl.hasError('required')"
                   i18n="message | letting the user know that they need to enter their password@@PasswordRequiredMessage">
          <strong>Requerida</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input required matInput placeholder="Responder 1" [formControl]="answer1FormControl"
               value="{{securityQuestions.Answer1}}" [(ngModel)]="securityQuestions.Answer1"
               name=securityAnswer1
               i18n-placeholder="form | field displaying the company user's securityQuestion@@CompanyUserEmail">
        <mat-error *ngIf="answer1FormControl.hasError('required')"
                   i18n="message | letting the user know that they need to enter their password@@PasswordRequiredMessage">
          <strong>Requerida</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input required matInput placeholder="Pregunta de seguridad 2" [formControl]="question2FormControl"
               value="{{securityQuestions.Q2}}" [(ngModel)]="securityQuestions.Q2"
               name=securityQuestion2 readonly
               i18n-placeholder="form | field displaying the company user's securityQuestion@@CompanyUserEmail">
        <mat-error *ngIf="question2FormControl.hasError('required')"
                   i18n="message | letting the user know that they need to enter their password@@PasswordRequiredMessage">
          <strong>Requerida</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input required matInput placeholder="Responder 2" [formControl]="answer2FormControl"
               value="{{securityQuestions.Answer2}}" [(ngModel)]="securityQuestions.Answer2"
               name=securityAnswer2
               i18n-placeholder="form | field displaying the company user's securityQuestion@@CompanyUserEmail">
        <mat-error *ngIf="answer2FormControl.hasError('required')"
                   i18n="message | letting the user know that they need to enter their password@@PasswordRequiredMessage">
          <strong>Requerida</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input required matInput placeholder="Pregunta de seguridad 3" [formControl]="question3FormControl"
               value="{{securityQuestions.Q3}}" [(ngModel)]="securityQuestions.Q3"
               name=securityQuestion3 readonly
               i18n-placeholder="form | field displaying the company user's securityQuestion@@CompanyUserEmail">
        <mat-error *ngIf="question3FormControl.hasError('required')"
                   i18n="message | letting the user know that they need to enter their password@@PasswordRequiredMessage">
          <strong>Requerida</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input required matInput placeholder="Responder 3" [formControl]="answer3FormControl"
               value="{{securityQuestions.Answer3}}" [(ngModel)]="securityQuestions.Answer3"
               name=securityAnswer3
               i18n-placeholder="form | field displaying the company user's securityQuestion@@CompanyUserEmail">
        <mat-error *ngIf="answer3FormControl.hasError('required')"
                   i18n="message | letting the user know that they need to enter their password@@PasswordRequiredMessage">
          <strong>Requerida</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)=sendSecurityQuestions() i18n="@@UpdateButton">Enviar</button>
    <br/><br/><br/><br/><br/>
  </div>
</div>
