
html {
  background-color: white;
}
body {
  background-color: white;
}

.toolbar{
  background-color: #2cbbc3;
  padding: 5px;
  color: #efefef;
  padding-left: 10%;
  padding-right: 10%;
}

@media screen and (max-width: 750px) {
  .toolbar{
    background-color: #2cbbc3;
    padding: 5px;
    color: #efefef;
  }

  .mobhide {
    display: none !important;
  }

  h2 {
    font-size: 10px !important;
  }

  h1 {
    font-size: 10px !important;
  }
}

.sidenav{
  float:left;
  padding: 5px;
  height: 100vh;
  min-width:210px;
  width:11%;
  background-color: #eeeeee;
  border-right: 1px solid grey;
}

a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}
a:visited, a:link {
  color: #607D8B;
}
a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
a.active {
  color: #039be5;
}

.content {
  width: 75%;
  margin: 0 auto;
}


.mat-form-field{
  width:400px
}

.example-sidenav-fab-container md-sidenav {
  max-width: 200px;
}

.example-sidenav-fab-container .mat-sidenav-content,
.example-sidenav-fab-container md-sidenav {
  display: flex;
  overflow: visible;
}

.example-scrolling-content {
  overflow: auto;
}

.example-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}


.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
