<div style="text-align:center" class="mobileHeaderTitle" *ngIf="username">
  <img style="max-height:60px; position:absolute;left:12%" src="../assets/images/Nomi_Sign-12-1-1.png" class="mobileHeaderLogo"
  />
  <h1 style="line-height:50px" class="mobileHeaderText"> Employee Page</h1>
</div>

<h1 class="toolbar" *ngIf="username">

  <span style="display:none" class="displayContentMobile">
            <button mat-button [matMenuTriggerFor]="mobileMenu"> <mat-icon>menu</mat-icon> </button>
      
            <mat-menu #mobileMenu="matMenu">
              <button mat-menu-item routerLink="/documents" routerLinkActive="active" i18n="@@GoHomePageMenuHeader"> Home </button>
            </mat-menu>
            <span style="float:right" *ngIf="username">
              <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>person</mat-icon>{{username}}<mat-icon>arrow_drop_down</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logout()">
                  <mat-icon>exit_to_app</mat-icon>
                  <span i18n="action | user will click this to log out of the website@@LogoutAction">Logout</span>
                </button>
              </mat-menu>
             </span>
  </span>

  <div style="margin-left:12%">
    <span class="hideContentMobile">
      <button mat-button routerLink="/documents" routerLinkActive="active">
        <span i18n="menu header | User will click this to navigate to the home page@@GoHomePageMenuHeader">
          Home 
        </span>
      </button>

      <span style="float:right" *ngIf="username">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>person</mat-icon>{{username}}<mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span i18n="action | user will click this to log out of the website@@LogoutAction">Logout</span>
          </button>
        </mat-menu>
      </span>
    </span>
  </div>
</h1>
<!-- <div style="text-align:center" *ngIf="username">
  <h1 style="float: left">
    {{title}}
  </h1>
  <div style="float:right" >
    <button mat-button [matMenuTriggerFor]="menu">
        {{username}}<mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span i18n="action | user will click this to log out of the website@@LogoutAction">Logout</span>
        </button>
      </mat-menu>
  </div>


</div> -->
<div style="clear:both"></div>
<router-outlet></router-outlet>