<div style="text-align:center" class="mobileHeaderTitle" *ngIf="username">
  <img style="max-height:60px; position:absolute;left:12%" src="../assets/images/Nomi_Sign-12-1-1.png" class="mobileHeaderLogo"
  />
  <h1 style="line-height:50px" class="mobileHeaderText"> Employee Page</h1>
</div>

<h1 class="toolbar" *ngIf="username">

  <span style="display:none" class="displayContentMobile">
            <button md-button [mdMenuTriggerFor]="mobileMenu"> <md-icon>menu</md-icon> </button>
      
            <md-menu #mobileMenu="mdMenu">
              <button md-menu-item routerLink="/documents" routerLinkActive="active" i18n="@@GoHomePageMenuHeader"> Home </button>
            </md-menu>
            <span style="float:right" *ngIf="username">
              <button md-button [mdMenuTriggerFor]="menu">
                <md-icon>person</md-icon>{{username}}<md-icon>arrow_drop_down</md-icon>
              </button>
              <md-menu #menu="mdMenu">
                <button md-menu-item (click)="logout()">
                  <md-icon>exit_to_app</md-icon>
                  <span i18n="action | user will click this to log out of the website@@LogoutAction">Logout</span>
                </button>
              </md-menu>
             </span>
  </span>

  <div style="margin-left:12%">
    <span class="hideContentMobile">
      <button md-button routerLink="/documents" routerLinkActive="active">
        <span i18n="menu header | User will click this to navigate to the home page@@GoHomePageMenuHeader">
          Home 
        </span>
      </button>

      <span style="float:right" *ngIf="username">
        <button md-button [mdMenuTriggerFor]="menu">
          <md-icon>person</md-icon>{{username}}<md-icon>arrow_drop_down</md-icon>
        </button>
        <md-menu #menu="mdMenu">
          <button md-menu-item (click)="logout()">
            <md-icon>exit_to_app</md-icon>
            <span i18n="action | user will click this to log out of the website@@LogoutAction">Logout</span>
          </button>
        </md-menu>
      </span>
    </span>
  </div>
</h1>
<!-- <div style="text-align:center" *ngIf="username">
  <h1 style="float: left">
    {{title}}
  </h1>
  <div style="float:right" >
    <button md-button [mdMenuTriggerFor]="menu">
        {{username}}<md-icon>arrow_drop_down</md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item (click)="logout()">
          <md-icon>exit_to_app</md-icon>
          <span i18n="action | user will click this to log out of the website@@LogoutAction">Logout</span>
        </button>
      </md-menu>
  </div>


</div> -->
<div style="clear:both"></div>
<router-outlet></router-outlet>