<h2 mat-dialog-title>Recuperar mi contraseña</h2>
<mat-dialog-content>
  Por favor escriba el correo electrónico o número célular asignado a su cuenta Nomisign&copy;, recibirá un correo
  electrónico y SMS en los proximos minutos sí su correo o número es válido.
  <br>
  <mat-form-field style="width: 99%; padding: 6px;">
    <input type="email" matInput [(ngModel)]="email.Email" placeholder="Email" name=email
           [formControl]="form.controls['email']" required>
    <mat-icon matSuffix style="color: #808080;">account_circle</mat-icon>
    <mat-error *ngIf="form.controls['email'].hasError('required')">
      El email es un campo <strong>obligatorio</strong>
    </mat-error>
    <mat-error *ngIf="!form.controls['email'].hasError('required') && form.controls['email'].hasError('email')">
      El email no es <strong>válido</strong>
    </mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cerrar</button>
  <button mat-raised-button color="primary" [disabled]="form.invalid || !isPromiseDone" (click)="resetMyPassword()">
    Recuperar
  </button>
</mat-dialog-actions>
