<div style="position:absolute;top:20%;width:100%" class="loginContainerMobile">
  <div style="width:60%; margin-left:35px; transform: translateY(160%)" class="loginTitleMobile centerText">
    <h1>Firma de Nóminas</h1>
    <br>
    <img style="width:83%;" src="../../assets/images/Nomi_Sign-12-1-1.png" class="loginLogoMobile leftFloat"/>
  </div>
  <div>
    <mat-card style="margin-right:50px; width: 34%; text-align: center; float:right" class="loginFormMobile">
      <h1 class="centerText">
        <h2 i18n="header | header for where the user will enter their login credentials @@LoginFormHeader">Login</h2>
      </h1>
      <br>
      <!--<mat-card-content>-->
      <form name="loginForm">
        <div class="form-row">
          <div class="form-group col-md-12">
            <mat-form-field class="example-full-width" style="width:85%">
              <input matInput type="email" [formControl]="usernameFormControl" [(ngModel)]=userName
                     placeholder="Célular o Email">
              <mat-icon matSuffix>account_circle</mat-icon>
              <mat-error *ngIf="usernameFormControl.hasError('required')"
                         i18n="message | letting the user know that they need to enter their username@@UsernameRequiredMessage">
                El email es un campo <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <mat-form-field class="example-full-width" style="width:85%">
              <input matInput type="password" [formControl]="passwordFormControl" [(ngModel)]="password"
                     placeholder="Contraseña" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error *ngIf="passwordFormControl.hasError('required')"
                         i18n="message | letting the user know that they need to enter their password@@PasswordRequiredMessage">
                La contraseña es un campo <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <button md-raised-button color="primary" style="width:85%" (click)=login()
                i18n="action | user will click this to login to thet website@@LoginButtonAction"> Iniciar Sesión
        </button>
      </form>
      <!--</mat-card-content>-->
      <br/><a href="" (click)="gotoForgotPassword()" routerLinkActive="active">Olvidé mi contraseña</a>
    </mat-card>
  </div>
</div>
