<h2 style="text-align:center" i18n="message | a message to let the user know the login failed">
  Acuerdo de Intercambio de Contraseñas
</h2>
<hr/>
<p style="text-align:center">Su documento de acuerdo de intercambio de contraseñas ha sido descargado para que lo imprimas, firmes
  y entregues a tu departamento de Recursos Humanos.</p>
<div>
  <button style="float:left; background-color: #2cbbc3 !important; color: white;" mat-button color="primary"
          (click)="printed()"> Aceptar </button>
  <button style="float:right; background-color: #2cbbc3 !important; color: white;" mat-button color="primary"
          (click)="onNoClick()"> Close </button>
</div>
