/*.mobileTableDisplay {
  overflow-y: auto;
  position: absolute;
  top: 335px;
  bottom: 15px;
  left: 10%;
  right: 10%;
}

@media (max-device-width: 720px) {
  .mobileHeader {
    float: left;
    margin-left: 5px;
  }

  .mobileCheckbox {
    width: 90% !important;
  }

  .mobileTableDisplay {
    width: 100% !important;
  }

  .mobileTableDisplay {
    overflow-y: auto;
    position: absolute;
    top: 360px;
    bottom: 15px;
    width: 95% !important;
    left: 10px;
    right: 10px;
  }
}*/
