.main-view {
  bottom: 60px;
  top: 107px;
  left: 0px;
  right: 0px;
  position: absolute;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.pagination-ctrl {
  height: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
}

h2 {
  margin: 14px 0;
}

.directions {
  font-size: 100%;
}

.employee-name {
  font-weight: lighter;
  color: #444;
  max-width: 100%;
}

.counter {
  text-align: right;
  color: #2cbbc3;
  font-size: 14px;
  font-weight: lighter;
}

@media screen and (max-width: 750px) {
  .directions {
    font-size: 90% !important;
  }
}
